
<h2 mat-dialog-title>Create Task</h2>
<mat-dialog-content>
    <form [formGroup]="taskForm">
        <mat-form-field>
          <input matInput type="text" id="title" formControlName="title">
          <mat-label>Title:</mat-label>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" id="user" formControlName="user">
          <mat-label>User ID:</mat-label>
        </mat-form-field>
        <mat-checkbox formControlName="completed">Completed:</mat-checkbox>
      </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close [disabled]="createTaskLoading">Cancel</button>
    <button mat-raised-button color="primary" (click)="createTask()">
        <span *ngIf="!createTaskLoading">Create</span>
        <mat-spinner *ngIf="createTaskLoading"
                     color="accent" [style.width]="'20px'"
                     [style.height]="'20px'">
        </mat-spinner>
    </button>
</mat-dialog-actions>