<section class="home">
    <div class="container">
        <div class="home_content">
            <div class="home_tasks_wrapper">
                <div class="home_tasks_create">
                    <button mat-raised-button color="primary" (click)="openCreateTaskDialog()">New Task</button>
                </div>
                <ul class="home_tasks">
                    <mat-spinner *ngIf="!tasksLoading"></mat-spinner>
                    <li *ngFor="let task of tasks?.results" class="home_tasks_block">
                        <div class="home_tasks_block_content">
                            <mat-checkbox [checked]="task.completed" (click)="updateTaskCompleteness(task)">{{task.title}}</mat-checkbox>
                            <span class="home_tasks_block_content_user">By {{task.user}}</span>
                        </div>
                        <div class="home_tasks_block_content">
                            <div class="home_tasks_block_content_actions">
                                <mat-icon color="accent"
                                          class="home_tasks_block_icon"
                                          (click)="openEditTaskDialog(task)">
                                          edit
                                </mat-icon>
                                <mat-icon
                                          class="home_tasks_block_icon"
                                          color="warn"
                                          (click)="openDeleteTaskDialog(task)">
                                          delete
                                </mat-icon>
                            </div>
                            <p>{{task.created_at | date: 'short'}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>